<%= link_to "Add_New Post", new_post_path, class: "btn btn-primary"%>
<div class="row">
  <div class="col-md-9">
  <h2><%= @posts.count %>  Post</h2>
    <% @posts.each do |p| %>
      <table id="mytable" class = "ui tall stacked segment">
        <th colspan="2"><h3><center><%= p.title %></center><%= p.date_posted %></h3></th>  
        <tr>
          <td rowspan="2"><img src="assets/tip3.jpg" style="position: relative; height: 100px;"></img></td>
        </tr>
        <tr>
          <td><p style="position: relative; text-align: justify; text-indent: 3%; padding-top: 2%;"><%= truncate p.content, length: 450 %><%= link_to "Read More", post_path(p.id) %></p>
          </td>
        </tr>
       <td>Posted By: <i class="user icon"></i><%= current_user.email %> </td>
      </table>
    <% end %>
  </div>

  <div class="recent_font">
    <div class="col-md-3">
      <div class="ui tall stacked segment">
      <center><td rowspan="2"><img src="assets/recent.jpg" style="position: relative; height: 100px;"></img></td></center><br>
        <div class="ui fitted divider"></div>
        <% @posts.each do |p| %>
        <tr>
          <h4><%= link_to p.title, post_path(p.id) %></h4>
          <td rowspan="2"><img src="assets/tip3.jpg" style="position: relative; height: 100px;"></img></td>
        </tr>
        <% end %> 
      </div>
    </div>
  </div>
</div>
