<div class="ui segment">
	<div class="ui top attached tabular menu">
	  <a class="active item" data-tab="first">Posts</a>
	  <a class="item" data-tab="second">Comments</a>
	</div>
	<div class="ui bottom attached active tab segment" data-tab="first">
	  	<table class="table hp-table table-splited">
			<thead>
				<th>Title</th>
				<th>Date Posted</th>
				<th>Content</th>
			</thead>
				<tbody>
						<td><%= @post.title %></td>
						<td><%= @post.date_posted %></td>
						<td><%= @post.content %></td>
						<td></td>
				</tbody>
		</table>
			<%= link_to 'Comments', post_comments_path(@post) %> |
			<%= link_to 'Back', posts_path %>
	</div>
	<div class="ui bottom attached tab segment" data-tab="second">
		<div class="ui items">
			<table class="table hp-table table-splited">
				<thead>
					<th>Comments</th>
					<th>Date Posted</th>
				</thead>
					<tbody>
						<% @comments.each do |c| %>
							<tr>
								<td><%= c.content %></td>
								<td><%= c.date_posted %></td>
							</tr>
						<% end %>
					</tbody>
			</table>
		</div>
	</div>
</div>

<script>
$('.menu .item')
  .tab()
;
</script>
</div>