<div class="ui segment">
	<div class="container1">
		<div class="ui bottom attached active tab segment" data-tab="first">
			<table class="table hp-table table-splited">
				<thead>
						<h1 align="center"><%= @post.title %></h1>
				</thead>
				<tbody>
					<td> <%= @post.content %> </td>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="ui segment">
<div class="container2">
		<table class="table hp-table table-splited">
			<thead>
				<th>Comments</th>
				<th>Date Posted</th>
				<th>Action</th>
			</thead>
			<tbody>
				<% @comments.each do |comment| %>
					<tr>
						<td><%= comment.content %></td>
						<td><%= comment.date_posted %></td	>
						<td>
              <% if (comment.user_id == current_user.id) %>
              <%= link_to 'SHOW', post_comment_path(comment.post, comment), class: "btn btn-success" %>
              <%= link_to 'EDIT', edit_post_comment_path(comment.post, comment), class: "btn btn-danger" %>
              <%= link_to 'DELETE', [comment.post, comment], class: "btn btn-primary", :confirm => 'Are you sure?', :method => :delete%>
              <% else %>
            		<%= link_to 'SHOW', [comment.post, comment], class: "btn btn-success" %>
            <%end %>
            </td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to 'Add Comment', new_post_comment_path(@post), class: "btn btn-success" %>
	</div>
</div>
	<script>
		$('.menu .item')
		  .tab()
		;
	</script>
