<div class="container">
	<div class="well">
		<div class="ui form">
			<h1 align="center">CATEGORIES</h1>
			<%= link_to "NEW CATEGORY", new_category_path, class: "btn btn-success" %>
			<table class="table hp-table table-splited">
				<thead>
					<tr>
						<th>Name</th>
						<th>Action</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @categories.each do |c| %>
						<tr>
						  	<td><%= c.name %></td>
						  	<% if (c.user == current_user) %>
								<td>
									<%= link_to "Show", category_path(c.id), class: "btn btn-success btn-s" %>
									<%= link_to "Edit", edit_category_path(c.id), class: "btn btn-primary btn-s" %>
									<%= link_to "Delete", category_path(c.id), data: { :confirm => "Are you sure?"}, :method => :delete, class: "btn btn-warning btn-s" %>
								</td>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>