<!DOCTYPE html>
<html>
<head>
  <title>Blog2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="ui form">
					  <% if current_user %>
					    <%= render partial: "shared/navigation" %>
						<% else %>
					    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
					  <% end %>
						<%= yield %>
			</div>
	</div>
</div>
</body>
</html>
